:root {
    --color-principal: #2563eb;
    --color-fondo: #f8fafc;
    --color-texto: #1e293b;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--color-fondo);
    color: var(--color-texto);
}
.encabezado {
    text-align: center;
    padding: 20px;
}

.navegacion {
    margin-top: 20px;
}

.navegacion a {
    margin: 0 10px;
    text-decoration: none;
    color: var(--color-principal);
}

.principal {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 50px;
}

.presentacion {
    max-width: 500px;
}

.avatar {
    width: 280px;
    height: 280px;
    object-fit: cover;
    border-radius: 50%;
}

footer {
    text-align: center;
    padding: 20px;
}
.seccion {
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px 30px;
}

.seccion h2 {
    text-align: center;
    margin-bottom: 30px;
    color: var(--color-principal);
}

.lista-habilidades {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.habilidad {
    background-color: white;
    padding: 20px;
    width: 190px;
    border-radius: 10px;
    text-align: center;
}

.habilidad h3 {
    color: var(--color-principal);
}